* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.navbar {
    padding-right: 6.25rem;
    list-style: none;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    list-style: none;

}

.contenedor-navbar {
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.954);
}

.contenedor-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.125rem;
    font-size: 1.5rem;
    padding-left: 1.25rem;
    gap: .625rem;

}

.box input {
    width: 200px;
    height: 40px;
}

#boton input {
    height: 40px;
    width: 100px;
}

::placeholder {
    font-size: 1rem;
}

.contenedor-card {
    margin: 20px;
    width: 30%;
    height: max-content;
    border: .125rem solid gray;
    background-color: white;
    padding: .625rem;
}

.contenedor-img {
    opacity: 80%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.contenedor-img:hover {
    opacity: 100%;
    transition-duration: 1s;
}

.contenedor-texto {
    background-color: white;
    justify-content: flex-start;
    gap: .9375rem;
    margin: 0;
    
}

.contenedor-texto h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.precio {
    font-size: 2rem;
    margin-right: auto;
    font-weight: lighter;
    margin-top: .625rem;
}

.precioM {
    margin-left: auto;

}

body div {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;

}


.titulo1 {
    display: flex;
    flex-direction: column;
}

.titulo1 h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline .1875rem solid rgb(31, 25, 25);
}

.formulario-correo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-viaje {
    border: .0625rem black solid;
    padding: .625rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(99, 99, 128);
    border-radius: .625rem;
    gap: 3px;
}

#nombre {
    height: 25px;
    width: 100%
}
.nombre {
    height: 25px;
    color: white;
}

.desde {
    height: 25px;
    width: 100%;

}

.hasta {
    height: 25px;
    width: 100%;

}

#e-mail {
    height: 25px;
    width: 100%;

}

#correo {
    height: 100px;
    width: 100%;

}



.envio-mail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 100%;
    color: #ffff;
    padding: .625rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.764);
}

.envio-mail:hover {
    background-color: rgba(71, 163, 71, 0.75);
}


.contenedor-botones {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0;
}


#number {
    width: max-content;
    height: max-content;
}

.botonMail {
    margin-top: .9375rem;
    height: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#usuario {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    max-height: max-content;
    font-size: 15px;

}

.conteiner-sesion {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(208, 208, 245);
    width: max-content;
    border: .125rem solid black;
    padding: .9375rem;
    display: flex;
    flex-direction: column;

}

#btnIngresar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 5px;
    margin-top: .625rem;
    background-color: rgba(61, 61, 240, 0.518);
}

#inicio-sesion {
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(187, 180, 180);

}

#inicio-sesion:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(220, 210, 210, 0.76);
    transition: 300ms;
}

#contraseñaUsuario {
    height: 25px;
    width: 300px;
    padding: .3125rem;

}

#nombreUsuario {

    width: 300px;
    height: 25px;
    padding: .3125rem;
}

#usuario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(6, 34, 147);
}

#btnIngresar:hover {
    background-color: rgba(204, 246, 204, 0.714);
    box-shadow: .3125rem;
    transition: 300ms;
    cursor: pointer;
}


.saludo {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(96, 147, 243);
}

.cartel{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
}

