* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.body{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.conte-body {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    width: 100%;
    height: 3.125rem;
    font-size: 1.5rem;
    padding-left: 1.25rem;
    gap: .625rem;
    padding: .9375rem;
    
}

.box input {
    width: 200px;
    height: 40px;
}

#boton input {
    height: 40px;
    width: 100px;
}

::placeholder {
    font-size: 1rem;
}

.contenedor-gral{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: max-content;

}
#contenedor-card{
    background-color: white;
    border: 2px solid gray;
    width: 310px;
    box-shadow: 5px 5px 5px gray;
    gap: .625rem;
    margin-bottom: .9375rem;
}

.contenedor-titulo h1 {
    text-align: center;
    font-family: monospace; 
    font-style: oblique;
    margin-bottom: .9375rem;
    font-size: 48px;
    
}
.formulario-correo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: .9375rem;
}

#form-viaje {
    border: .0625rem black solid;
    padding: .625rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(99, 99, 128);
    border-radius: .625rem;
    gap: 3px;
}

#nombre {
    height: 25px;
    width: 100%
}
.nombre {
    height: 25px;
    color: white;
}
.desde {
    height: 25px;
    width: 100%;
}
.hasta {
    height: 25px;
    width: 100%;
}
#e-mail {
    height: 25px;
    width: 100%;
}
#correo {
    height: 100px;
    width: 100%;
}

#number {
    width: max-content;
    height: max-content;
}

.botonMail {
    margin-top: .9375rem;
    height: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#usuario {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    max-height: max-content;
    font-size: 15px;

}

.conteiner-sesion {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(208, 208, 245);
    width: max-content;
    border: .125rem solid black;
    padding: .9375rem;
    display: flex;
    flex-direction: column;

}

#btnIngresar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 5px;
    margin-top: .625rem;
    background-color: rgba(61, 61, 240, 0.518);
}



#inicio-cuenta{
    background-color: rgba(127, 245, 245, 0.869);
    padding: 5px 15px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#inicio-cuenta:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(220, 210, 210, 0.76);
    transition: 300ms;
}
#inicio-sesion:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(220, 210, 210, 0.76);
    transition: 300ms;
}
.navbar-f{
    padding: 10px 1.5625rem;
    gap: 15px;
    width: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-style: oblique;
    
}

.navbar-final{
    background-color: rgb(0, 0, 0);
    width: 100vh;
    height: 6.25rem;
}

#link{
    color: white;
}

#inicio-sesion{
    color: white;
}
#linkDos{
    color: white;
}





#contraseñaUsuario {
    height: 25px;
    width: 300px;
    padding: .3125rem;
}

#nombreUsuario {
    width: 300px;
    height: 25px;
    padding: .3125rem;
}

#usuario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(6, 34, 147);
}

.saludo {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(96, 147, 243);
    margin: 1.5625rem;
}

.cartel{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
}

.footer{
    background-color: rgba(0, 0, 0, 0.954);
    color: white;
    width: 100%;
    height: 9.375rem;
    display: flex;
    align-items: center;
    gap: .9375rem;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}

.derechos{
    border-right: 2px solid white;
    padding-right: .9375rem;
}

div {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: max-content;
    padding: .3125rem;
} 

.contenedor-info{
    background-color: white;
    width: max-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
}

#imagen{
    padding: .125rem;
    display: flex;
    overflow: hidden;
    opacity: 80%;
    }


#imagen:hover{
        opacity: 100%;
        transition-duration: 1000ms;
    }

.paquete{
    display: flex;
    align-self: flex-start;
    color: gray;
    font-size: 0.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: .9375rem;
    font-style: italic;
    margin-left: .1875rem;
    
}

.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: .3125rem;
}

.subtitulo{
    display: flex;
    align-self: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    font-size: 0.9rem;
    padding-left: .3125rem;
}

.caracteristicas{
    margin-top: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: .3125rem;
}

.ver-mas{
    display: flex;
    align-self: flex-start;
    color: blue;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    font-size: 1rem;
    padding-left: .3125rem;
}


.precio{
    color: red;
    font-size: .625rem;
    display: flex;
    align-self: flex-start;
    padding-left: .3125rem;
    margin-bottom: .9375rem;
}


.precio-cantidad{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.usd{
    margin-left: .9375rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
}

.monto{
    margin-left: 1.25rem;
    font-size: 2rem;
    font-weight: bolder;
}

.tarifa{
    color: gray;
    display: flex;
    margin-left: .9375rem;
    font-size: .9375rem;
}

.boton-enviar{
    padding: 5px 20px;
    display: flex;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgb(114, 114, 255);
    border-radius: 10%;
}

.boton-enviar:hover{
    box-shadow: 2px 2px 5px gray;
    
}

